@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  display: flex;
  height: 7em;
  width: 100%;
  align-items: center;
}
header .nav-bar {
  display: flex;
  width: 100%;
  height: 4em;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
header .nav-bar a {
  text-decoration: none;
  border-right: 2px solid #fff;
  padding-right: 0.5em;
  margin-right: 0.5em;
  transition: 1s;
  color: white;
}
header .nav-bar a:hover {
  font-size: 20px;
  text-shadow: white 1px 1px 10px;
  padding-right: 1em;
}
header .nav-bar .nav-items {
  display: inline-flex;
  width: 90%;
  padding: 0 1em 0.4em 1em;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0);
  border-bottom: 2px solid #fff;
}
header .nav-bar .nav-items .own-info-container {
  display: inline-flex;
  background-color: rgba(0, 0, 255, 0);
  align-items: center;
  justify-content: space-between;
}
header .nav-bar .nav-items .own-info-container h1 {
  font-size: 20px;
  color: #fff;
}
header .nav-bar .nav-items .events-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 255, 255, 0);
}

.main {
  position: absolute;
  width: 100%;
  height: 120vh;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/bandeiraPE.png");
}
.main .map-content .hidden {
  display: none;
}
.main .map-content .background-blur {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.527);
  backdrop-filter: blur(2px);
}
.main .map-content .map-container {
  position: relative;
}
.main .map-content .map-container svg.all-cities {
  top: 0;
  left: 0;
  position: absolute;
}
.main .map-content .map-container svg.chosen {
  z-index: 2;
  top: 0;
  left: 0;
  position: absolute;
}
.main .map-content .map-container svg path {
  fill: gray;
  stroke: white;
}
.main .map-content .map-container svg path.chosen-city {
  z-index: 2;
  fill: greenyellow;
  stroke: green;
}
.main .frame-content {
  z-index: 2;
  position: absolute;
  width: 22em;
  height: 30em;
  right: 5em;
  padding: 1em;
}
.main .frame-content .frame-page {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/quadro.png");
}
.main .frame-content .frame-page .frame-asset {
  position: absolute;
  width: 5em;
  aspect-ratio: 1;
  bottom: 1em;
  right: 1em;
  background-size: cover;
  background-image: url("../../assets/cacto.png");
}
.main .frame-content .frame-page .text-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main .frame-content .frame-page .text-content .city-name {
  margin-top: 1.5em;
  font-family: "Rock Salt", cursive;
  font-size: 33px;
  font-weight: 600;
}
.main .frame-content .frame-page .text-content .city-description {
  display: flex;
  max-width: 80%;
  text-align: center;
  margin-top: 0.5em;
  font-size: 17px;
  line-height: 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media screen and (max-width: 720px) {
  .nav-items .own-info-container h1 {
    margin-left: 0;
  }
  .nav-items .own-info-container .link-nassau {
    display: none;
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
